@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 0, 224, 167; 
}

[data-theme='red'] {
  --color-primary: 255, 46, 99;
}

body {
  background-color: #0b111e;
  color: #f0f2f5;
  font-family: 'Plus Jakarta Sans', sans-serif; /* Set Default Body Font */
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0b111e;
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--color-primary), 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--color-primary), 0.8);
}

html {
  scroll-behavior: smooth;
}